.u_va-baseline {
  vertical-align: baseline !important;
}
.u_va-top {
  vertical-align: top !important;
}
.u_va-middle {
  vertical-align: middle !important;
}
.u_va-bottom {
  vertical-align: bottom !important;
}
.u_va-text-bottom {
  vertical-align: text-bottom !important;
}
.u_va-text-top {
  vertical-align: text-top !important;
}
