@include test-module('functions/_unit.scss') {
  @include test('rem') {
    $actual: rem(16px);
    $expect: 1rem;
    @include assert-equal($actual, $expect);
  }

  @include test('per') {
    $actual: per(100px, 1000px);
    $expect: 10%;
    @include assert-equal($actual, $expect);
  }

  @include test('vw') {
    $actual: vw(32px);
    $expect: 5vw;
    @include assert-equal($actual, $expect);
  }

  @include test('vh') {
    $actual: vh(32px);
    $expect: 2.8169014085vh;
    @include assert-equal($actual, $expect, null, true);
  }

  @include test('strip-unit') {
    $actual: strip-unit(12px);
    $expect: 12;
    @include assert-equal($actual, $expect);
  }
}
