@include test-module('functions/_utility.scss') {
  @include test('c') {
    $actual: c('black');
    $expect: #000;
    @include assert-equal($actual, $expect);
  }

  @include test('z') {
    $actual: z('header');
    $expect: 1000;
    @include assert-equal($actual, $expect);
  }

  @include test('z / addition') {
    $actual: z('header', 1);
    $expect: 1001;
    @include assert-equal($actual, $expect);
  }

  @include test('z / subtraction') {
    $actual: z('header', -1);
    $expect: 999;
    @include assert-equal($actual, $expect);
  }

  @include test('absolute-to-relative') {
    $actual: absolute-to-relative(10, 100);
    $expect: 0.1;
    @include assert-equal($actual, $expect);
  }

  @include test('absolute-to-relative / $percentage is true') {
    $actual: absolute-to-relative(10, 100, true);
    $expect: 10;
    @include assert-equal($actual, $expect);
  }
}
