@include test-module("mixin/_grid.scss") {

  @include test("grid-container") {
    @include assert {
      @include output {
        .element {
          @include grid-container;
        }
      }
      @include expect {
        .element {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: nowrap;
          margin-right: -1%;
          margin-left: -1%;
        }
      }
    }
    @include assert {
      @include output {
        .element {
          @include grid-container((
            "direction": "reverse",
            "align": "center-middle",
            "wrap": "wrap-around",
            "gutter": 4%
          ));
        }
      }
      @include expect {
        .element {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          align-content: space-around;
          margin-right: -2%;
          margin-left: -2%;
        }
      }
    }
  }

  @include test("grid-item") {
    @include assert {
      @include output {
        .element {
          @include grid-item;
        }
      }
      @include expect {
        .element {
          box-sizing: border-box;
          max-width: 100%;
          flex: 0 0 auto;
          margin-left: 0;
          order: 0;
          padding-right: 1%;
          padding-left: 1%;
        }
      }
    }
    @include assert {
      @include output {
        .element {
          @include grid-item(6, (
            "offset": 3,
            "order": 1,
            "gutter": 4%,
            "grid-columns": 12
          ));
        }
      }
      @include expect {
        .element {
          box-sizing: border-box;
          max-width: 50%;
          flex: 0 0 50%;
          margin-left: 25%;
          order: 1;
          padding-right: 2%;
          padding-left: 2%;
        }
      }
    }
  }

}
