@include test-module('mixin/_grid.scss') {
  @include test('grid-container') {
    @include assert {
      @include output {
        .element {
          @include grid-container;
        }
      }
      @include expect {
        .element {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          margin-right: -1%;
          margin-left: -1%;
        }
      }
    }
    @include assert {
      @include output {
        .element {
          @include grid-container(
            (
              'direction': 'reverse',
              'align': 'center-middle',
              'wrap': 'wrap-around',
              'gutter': 4%,
            )
          );
        }
      }
      @include expect {
        .element {
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: wrap;
          align-content: space-around;
          align-items: center;
          justify-content: center;
          margin-right: -2%;
          margin-left: -2%;
        }
      }
    }
  }

  @include test('grid-item') {
    @include assert {
      @include output {
        .element {
          @include grid-item;
        }
      }
      @include expect {
        .element {
          box-sizing: border-box;
          flex: 0 0 auto;
          order: 0;
          max-width: 100%;
          padding-right: 1%;
          padding-left: 1%;
          margin-left: 0;
        }
      }
    }
    @include assert {
      @include output {
        .element {
          @include grid-item(
            6,
            (
              'offset': 3,
              'order': 1,
              'gutter': 4%,
              'grid-columns': 12,
            )
          );
        }
      }
      @include expect {
        .element {
          box-sizing: border-box;
          flex: 0 0 50%;
          order: 1;
          max-width: 50%;
          padding-right: 2%;
          padding-left: 2%;
          margin-left: 25%;
        }
      }
    }
  }
}
