@charset "UTF-8";

@include test-module("mixin/_sprite.scss") {

  @include test("sprite") {
    @include assert {
      @include output {
        .element {
          @include sprite("test-2x-wordpress");
        }
      }
      @include expect {
        .element {
          background-image: url("../images/test@2x.png");
          background-repeat: no-repeat;
          background-position: -105px -70px;
          background-size: 137px 102px;
          width: 32px;
          height: 32px;
          display: inline-block;
        }
      }
    }
  }

}
