////
//// @group 00. 設定
////

/// pxからvwへ変換する際の基準値

$_viewport-width: 750px;

/// pxからvhへ変換する際の基準値

$_viewport-height: 1334px;

/// ブレークポイント

$_breakpoints: (
  'xs': 0,
  'sm': 480px,
  'md': 769px,
  'lg': 1024px,
  'xl': 1440px,
);

/// 印刷対象にするメディアクエリの最低幅<br>
/// mq-minまたはmq-maxミックスインの第1引数に渡したブレークポイントに対応する値がここで指定する値以上の場合、メディアタイプにprintを追加して出力する<br>
/// ただし、第2引数（メディアタイプ）を渡した場合はそれが優先される

$_print-min-width: 769px;

/// フォントファミリー

$_font-family: '游ゴシック体', yugothic, '游ゴシック Medium', 'Yu Gothic Medium', 'ヒラギノ角ゴ ProN',
  'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, sans-serif;

/// フォントサイズ
/// - 16px (一般的なブラウザのデフォルトフォントサイズ)を推奨

$_font-size: 16px;

/// 行間

$_line-height: 1.5;

/// テキストカラー

$_text-color: #333;

/// テキストリンクカラー

$_text-link-color: #04c;

/// マウスオーバー時のテキストリンクカラー

$_text-link-hover-color: #04c;

/// 訪問済みのテキストリンクカラー

$_text-link-visited-color: #04c;

/// マウスオーバー時などの不透明度

$_opacity: 0.75;

/// アニメーションスピード

$_transition-duration: 0.15s;

/// サイトでの使用色<br>
/// キーに識別名、値にカラーコードを指定する

$_colors: (
  'text': $_text-color,
  'text-link': $_text-link-color,
  'text-link-hover': $_text-link-hover-color,
  'text-link-visited': $_text-link-visited-color,
  'white': #fff,
  'black': #000,
);

/// z-index管理用変数<br>
/// キーに識別名、値にz-index値を指定する

$_z-indexes: (
  'example': 100,
);
