.u-align-l {
	text-align: left !important;
}
.u-align-c {
	text-align: center !important;
}
.u-align-r {
	text-align: right !important;
}
.u-align-t {
	vertical-align: top !important;
}
.u-align-m {
	vertical-align: middle !important;
}
.u-align-b {
	vertical-align: middle !important;
}
