.u-fweight-thin {
	font-weight: 250 !important;
}
.u-fweight-lt {
	font-weight: 300 !important;
}
.u-fweight-dl {
	font-weight: 350 !important;
}
.u-fweight-nm {
	font-weight: normal !important;
}
.u-fweight-md {
	font-weight: 500 !important;
}
.u-fweight-b {
	font-weight: bold !important;
}
.u-fweight-black {
	font-weight: 900 !important;
}
