<!DOCTYPE html>
<html lang="ja">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">

	<meta name="description" content="Description">

	<meta property="og:site_name" content="Site name">
	<meta property="og:title" content="Title">
	<meta property="og:type" content="website or article">
	<meta property="og:description" content="Description">
	<meta property="og:image" content="http://pladehold.jp/1200x630.png">
	<meta property="og:url" content="http://example.com/">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@twitterid">

	<link rel="stylesheet" href="/assets/css/style.css">

	<title>Website Coding Kit</title>

</head>
<body>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<script src="/assets/vendors/libs.js"></script>

</body>
</html>
