@charset "utf-8";

$base-viewport-width:  640px;
$base-viewport-height: 1136px;
$breakpoints: (
	"xs": 0,
	"sm": 480px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1440px
);
$base-font-size: 16px;
$colors: (
	"white": #fff,
	"black": #000
);

@import "true";

@import "../../src/assets/sass/foundations/functions/_breakpoint.scss";
@import "../../src/assets/sass/foundations/functions/_unit.scss";
@import "../../src/assets/sass/foundations/functions/_utility.scss";

@import "../../src/assets/sass/foundations/mixins/_media.scss";
@import "../../src/assets/sass/foundations/mixins/_sprite.scss";
@import "../../src/assets/sass/foundations/mixins/_utility.scss";

@import "sprites/test2x.scss";

@import "specs/foundation-function-breakpoint.scss";
@import "specs/foundation-function-unit.scss";
@import "specs/foundation-function-utility.scss";

@import "specs/foundation-mixin-media.scss";
@import "specs/foundation-mixin-sprite.scss";
@import "specs/foundation-mixin-utility.scss";
