@include test-module('functions/_breakpoint.scss') {
  @include test('breakpoint-min') {
    $actual: breakpoint-min('md');
    $expect: 769px;
    @include assert-equal($actual, $expect);
  }

  @include test('breakpoint-min / return is null') {
    $actual: breakpoint-min('xs');
    $expect: null;
    @include assert-equal($actual, $expect);
  }

  @include test('breakpoint-max') {
    $actual: breakpoint-max('md');
    $expect: 1023px;
    @include assert-equal($actual, $expect);
  }

  @include test('breakpoint-max / return is null') {
    $actual: breakpoint-max('xl');
    $expect: null;
    @include assert-equal($actual, $expect);
  }
}
